# ─── App ──────────────────────────────────────────────────────
NODE_ENV=development

# ─── Secrets (CHANGE ALL BEFORE PRODUCTION) ───────────────────
MONGO_ROOT_PASSWORD=SuperSecretMongoPass123!
JWT_ACCESS_SECRET=change_me_access_secret_at_least_64_chars_long_for_security!!
JWT_REFRESH_SECRET=change_me_refresh_secret_also_at_least_64_chars_long_secure!!
REDIS_PASSWORD=SuperSecretRedisPass456!
RABBITMQ_USER=admin
RABBITMQ_PASS=SuperSecretRabbitPass789!

# ─── External APIs ────────────────────────────────────────────
GROQ_API_KEY=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

# ─── Frontend URL (CORS) ─────────────────────────────────────
FRONTEND_URL=http://localhost:8080
